---
http_interactions:
- request:
    method: get
    uri: http://www.feedforall.com/sample.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 19 Oct 2004 12:39:14 GMT
      Etag:
      - '"21b7-3e6cc2e432080"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"windows-1252\"?>\r\n<rss version=\"2.0\">\r\n
        \ <channel>\r\n    <title>FeedForAll Sample Feed</title>\r\n    <description>RSS
        is a fascinating technology. The uses for RSS are expanding daily. Take a
        closer look at how various industries are using the benefits of RSS in their
        businesses.</description>\r\n    <link>http://www.feedforall.com/industry-solutions.htm</link>\r\n
        \   <category domain=\"www.dmoz.com\">Computers/Software/Internet/Site Management/Content
        Management</category>\r\n    <copyright>Copyright 2004 NotePage, Inc.</copyright>\r\n
        \   <docs>http://blogs.law.harvard.edu/tech/rss</docs>\r\n    <language>en-us</language>\r\n
        \   <lastBuildDate>Tue, 19 Oct 2004 13:39:14 -0400</lastBuildDate>\r\n    <managingEditor>marketing@feedforall.com</managingEditor>\r\n
        \   <pubDate>Tue, 19 Oct 2004 13:38:55 -0400</pubDate>\r\n    <webMaster>webmaster@feedforall.com</webMaster>\r\n
        \   <generator>FeedForAll Beta1 (0.0.1.8)</generator>\r\n    <image>\r\n      <url>http://www.feedforall.com/ffalogo48x48.gif</url>\r\n
        \     <title>FeedForAll Sample Feed</title>\r\n      <link>http://www.feedforall.com/industry-solutions.htm</link>\r\n
        \     <description>FeedForAll Sample Feed</description>\r\n      <width>48</width>\r\n
        \     <height>48</height>\r\n    </image>\r\n    <item>\r\n      <title>RSS
        Solutions for Restaurants</title>\r\n      <description>&lt;b&gt;FeedForAll
        &lt;/b&gt;helps Restaurant&apos;s communicate with customers. Let your customers
        know the latest specials or events.&lt;br&gt;\r\n&lt;br&gt;\r\nRSS feed uses
        include:&lt;br&gt;\r\n&lt;i&gt;&lt;font color=&quot;#FF0000&quot;&gt;Daily
        Specials &lt;br&gt;\r\nEntertainment &lt;br&gt;\r\nCalendar of Events &lt;/i&gt;&lt;/font&gt;</description>\r\n
        \     <link>http://www.feedforall.com/restaurant.htm</link>\r\n      <category
        domain=\"www.dmoz.com\">Computers/Software/Internet/Site Management/Content
        Management</category>\r\n      <comments>http://www.feedforall.com/forum</comments>\r\n
        \     <pubDate>Tue, 19 Oct 2004 11:09:11 -0400</pubDate>\r\n    </item>\r\n
        \   <item>\r\n      <title>RSS Solutions for Schools and Colleges</title>\r\n
        \     <description>FeedForAll helps Educational Institutions communicate with
        students about school wide activities, events, and schedules.&lt;br&gt;\r\n&lt;br&gt;\r\nRSS
        feed uses include:&lt;br&gt;\r\n&lt;i&gt;&lt;font color=&quot;#0000FF&quot;&gt;Homework
[...]
