<div class="well rule-test-well">
  <% if episodes.empty? %>
    <p>Nothing found :(</p>

    <p>This is likely because there are no shows matching your filter on the feed right now. Try searching without regex to see all possible episodes.</p>
  <% else %>
    <% episodes.each do |episode| %>
      <div class="row">
        <div class="col-md-12">
          <%= episode.name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
