<h1>New Show</h1>

<%= form_tag tvdb_search_shows_path, remote: true, class: 'form-horizontal' %>
  <div class="form-group">
    <div class="col-sm-12">
      <input class="form-control" name="title" placeholder="Title, hit enter to search">
    </div>
  </div>
</form>

<div class="js-results">
</div>
